{% extends 'base.html' %}
{% block title %}
In development
{% endblock title %}
{% block firstSection %}
  <!-- ======= Hero Section ======= -->
  <div class="container" data-aos="zoom-in" data-aos-delay="100">
    <!--<h1 class="text-center">Development in progress</h1>-->
    {% include "messages.html" %}
    <hr>

    </div>
  </div><!-- End Hero -->

{% endblock firstSection %}
{% block body %}


{% endblock body %}
<!-- ======= Footer ======= -->
{% block footer %}
<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Deeksha</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
  
      Designed by <a href="/">Deeksha</a>
    </div>
  </div>
</footer><!-- End  Footer -->
{% endblock footer %}