{% extends 'base.html' %}
{% block title %}
Setpassword
{% endblock title %}

{% block firstSection %}
<section id="about">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-6 about-img">
        <img src="/static/assets/img/one.jpg" alt="">
      </div>
      <div class="col-lg-6 content">
      {% include 'messages.html' %}
        
    
  <h3 class="text-center">Set New Password</h3>

  <hr/>
 
  <form action="{% url 'set-new-password' uidb64 token %}" method="post">{% csrf_token %}
    <br />

    <label for="pass1">Set new Password </label>
    <div class="form-group">
      
      <input
        type="password"
        class="form-control p-2 mb-3"
        id="pass1"
        name="pass1"
        placeholder="Password must be atleast 8 characters"
        required
        
      />
      <input type="checkbox"  onclick="showPassword()"><span id="sp">Show Password</span><i class="fa-solid fa-eye"></i>
      <br>
     
      <small>The password must contain at least one digit (1-9), one lowercase letter (a-z), one uppercase letter (A-Z), and one special character from the set [_,$,@]</small>
    </div>
    <br/>
    <label for="pass2">Confirm Password</label>
    <div class="form-group">
      <input
        type="password"
        class="form-control p-2 mb-3"
        id="pass2"
        name="pass2"
        placeholder="Confirm Password"
        required
      />
    </div>
    <br />
    <div class="d-grid gap-2 mb-3">
    <button type="submit" class="btn btn-primary">Submit</button>
</div>   
    <br />
    Go Back? <a href="/login">Login</a>
    <br />
  </form>



</div>

</div>

</div>
</section>

{% endblock firstSection %}

{% block Scripts %}
<script>
function showPassword(){
  var x = document.getElementById("pass1");
  var z = document.getElementById("pass2");
  var y = document.getElementById("sp");
  if (x.type === "password" && z.type==="password") {
    x.type = "text";
    z.type="text";
    y.innerText="Hide Password";
  } else {
    x.type = "password";
    z.type="password";
    y.innerText="Show Password";
  }
}
</script>
{% endblock Scripts %}