{% extends 'base.html' %} 
{% block title %} Update Profile {% endblock title %} 
{% block body %}
<form action="/updateprofile/{{data.email}}" method="post" enctype="multipart/form-data">{% csrf_token %}
{% include "messages.html" %}
<div class="container mt-2">
  <div class="row">
    <h2 class="text-center">Update Details</h2>
    <hr />
    <div class="col-md-3">
      <h2>Basic Details</h2>
      <hr />
        <div class="form-group">
          <label for="dp"><span>*</span>Upload Profile Picture</label>
          <input
            type="file"
            class="form-control mb-2 mt-3"  value="{{data.profilepic}}"
            id="dp"
            name="dp"
   
            
            
          />
        </div>
        <div class="form-group">
          <label for="name"><span>*</span>Name</label>
          <input
            type="text"
            class="form-control mb-2 mt-3"  value="{{data.name}}"
            id="name"
            name="name"
            placeholder="Enter your name"
           
            required
            
          />
        </div>
      
        <div class="form-group">
          <label for="phone"><span>*</span> Phone</label>
          <input
            type="tel"
            class="form-control mb-2 mt-3"  value="{{data.phone}}"
            id="phone"
            name="phone"
            placeholder="Enter your phone number"
            required
          />
        </div>
        <div class="form-group">
          <label for="alternateNumber">Alternate Number </label>
          <input
            type="tel"
            class="form-control mb-2 mt-3"  value="{{data.alternateNumber}}"
            id="alternateNumber"
            name="alternateNumber"
            placeholder="Enter your Alternate number"
          />
        </div>

        <div class="form-group">
          <label for="address"><span>*</span> Address</label>
          <input
            class="form-control mb-2 mt-3"  value="{{data.address}}"
            id="address"
            name="address"
            rows="4"
            placeholder="Enter a address"
          ></input>
        </div>
      </form>
      <br />
    </div>
    <div class="col-md-3">
      <h2>Education Details</h2>
      <hr />
      <div class="form-group">
        <label for="schoolName"><span>*</span> X School Name</label>
        <input
          type="text"
          class="form-control mb-2 mt-3"  value="{{data.schoolName}}"
          id="schoolName"
          name="schoolName"
          placeholder="Enter your School Name"
          required
        />
      </div>
      <div class="form-group">
        <label for="xpercentage"><span>*</span> Percentage % </label>
        <input
          type="number"
          class="form-control mb-2 mt-3"  value="{{data.xpercentage}}"
          id="xpercentage"
          placeholder="Enter your X Percentage"
          name="xpercentage"
          required
        />
      </div>
      <div class="form-group">
        <label for="xcourse"><span>*</span> Course</label>
        <input
          type="text"
          class="form-control mb-2 mt-3"  value="{{data.xcourse}}"
          id="xcourse"
          name="xcourse"
          placeholder="Enter the courses"
          required
        />
      </div>
      <div class="form-group">
        <label for="xdate"><span>*</span> Passed Out year </label>
        <input
          type="date"
          class="form-control mb-2 mt-3"  value="{{data.xdate}}"
          id="xdate"
          name="xdate"
          required
        />
      </div>

      <div class="form-group">
        <label for="xcity"><span>*</span> City</label>
        <input
          class="form-control mb-2 mt-3"  value="{{data.xcity}}"
          id="xcity"
          name="xcity"
          placeholder="Enter a location"
          required
        />
      </div>

      <br />
    </div>

    <div class="col-md-3">
      <h2>College Details</h2>
      <hr />
      <div class="form-group">
        <label for="schoolName"><span>*</span> XII College Name</label>
        <input
          type="text"
          class="form-control mb-2 mt-3"  value="{{data.collegeName}}"
          id="collegeName"
          name="collegeName"
          placeholder="Enter your College Name"
          required
        />
      </div>
      <div class="form-group">
        <label for="xiipercentage"><span>*</span> Percentage % </label>
        <input
          type="number"
          class="form-control mb-2 mt-3"  value="{{data.xiipercentage}}"
          id="xiipercentage"
          placeholder="Enter your XII Percentage"
          name="xiipercentage"
          required
        />
      </div>
      <div class="form-group">
        <label for="xiicourse"><span>*</span> Course</label>
        <input
          type="text"
          class="form-control mb-2 mt-3"  value="{{data.xiicourse}}"
          id="xiicourse"
          name="xiicourse"
          placeholder="Enter the courses"
          required
        />
      </div>
      <div class="form-group">
        <label for="xiidate"><span>*</span> Passed Out year </label>
        <input
          type="date"
          class="form-control mb-2 mt-3"  value="{{data.xiidate}}"
          id="xiidate"
          name="xiidate"
          required
        />
      </div>

      <div class="form-group">
        <label for="xiicity"><span>*</span> City</label>
        <input
          class="form-control mb-2 mt-3"  value="{{data.xiicity}}"
          id="xiicity"
          name="xiicity"
          placeholder="Enter a collage location"
          required
        />
      </div>

      <br />
    </div>

    <div class="col-md-3">
      <h2>University Details</h2>
      <hr />
      <div class="form-group">
        <label for="universityName"><span>*</span> University College Name</label>
        <input
          type="text"
          class="form-control mb-2 mt-3"  value="{{data.universityName}}"
          id="universityName"
          name="universityName"
          placeholder="Enter your university name"
          required
        />
      </div>
      <div class="form-group">
        <label for="universitypercentage"><span>*</span> Percentage % </label>
        <input
          type="number"
          class="form-control mb-2 mt-3"  value="{{data.universitypercentage}}"
          id="universitypercentage"
          placeholder="Enter your university Percentage"
          name="universitypercentage"
          required
        />
      </div>
      <div class="form-group">
        <label for="branch"><span>*</span> Branch</label>
        <input
          type="text"
          class="form-control mb-2 mt-3"  value="{{data.branch}}"
          id="branch"
          name="branch"
          placeholder="Enter Your Branch"
          required
        />
      </div>
      <div class="form-group">
        <label for="startdate"><span>*</span> From </label>
        <input
          type="date"
          class="form-control mb-2 mt-3"  value="{{data.startdate}}"
          id="startdate"
          name="startdate"
          required
        />
      </div>
      <div class="form-group">
        <label for="enddate"><span>*</span> To </label>
        <input
          type="date"
          class="form-control mb-2 mt-3"  value="{{data.enddate}}"
          id="enddate"
          name="enddate"
          required
        />
      </div>

      <div class="form-group">
        <label for="universitycity"><span>*</span> City</label>
        <input
          class="form-control mb-2 mt-3"  value="{{data.universitycity}}"
          id="universitycity"
          name="universitycity"
          placeholder="Enter a university location"
          required
        />
      </div>

      <br />
    </div>
    <hr />
    <div class="col-md-3">
      <h2>Masters/Post Graduate Details</h2>
      <hr />
      <div class="form-group">
        <label for="universityName">University College Name</label>
        <input
          type="text"
          class="form-control mb-2 mt-3"  value="{{data.muniversityName}}"
          id="muniversityName"
          name="muniversityName"
          placeholder="Enter your university name"
          
        />
      </div>
      <div class="form-group">
        <label for="mpercentage">Percentage % </label>
        <input
          type="number"
          class="form-control mb-2 mt-3"  value="{{data.muniversitypercentage}}"
          id="mpercentage"
          placeholder="Enter your university Percentage"
          name="mpercentage"
          
        />
      </div>
      <div class="form-group">
        <label for="mbranch">Branch</label>
        <input
          type="text"
          class="form-control mb-2 mt-3"  value="{{data.mbranch}}"
          id="mbranch"
          name="mbranch"
          placeholder="Enter Your Branch"
          
        />
      </div>
      <div class="form-group">
        <label for="mstartdate">From </label>
        <input
          type="date"
          class="form-control mb-2 mt-3"  value="{{data.mstartdate}}"
          id="mstartdate"
          name="mstartdate"
          
        />
      </div>
      <div class="form-group">
        <label for="menddate">To </label>
        <input
          type="date"
          class="form-control mb-2 mt-3"  value="{{data.menddate}}"
          id="menddate"
          name="menddate"
          
        />
      </div>

      <div class="form-group">
        <label for="muniversitycity">City</label>
        <input
          class="form-control mb-2 mt-3"  value="{{data.muniversitycity}}"
          id="muniversitycity"
          name="muniversitycity"
          placeholder="Enter a university location"
          
        />
      </div>

      <br />
    </div>

    <div class="col-md-3">
      <h2>Technical skills & Projection Section</h2>
      <hr />
      

      <div class="form-group">
        <label for="skills"><span>*</span> Skills</label>
        <input
          type="text"
          class="form-control mb-2 mt-3"  value="{{data.skills}}"
          id="skills"
          placeholder="Enter your skills seperated with comma ,"
          name="skills"
          required
        ></input>
        <small>Avoid spaces & special characters</small>
      </div>
      <div class="form-group">
        <label for="p1">Project-1 title</label>
        <input
          type="text"
          class="form-control mb-2 mt-3"  value="{{data.p1}}"
          id="p1"
          placeholder="Enter your project-1 title"
          name="p1"
          
        />
      </div>

      <div class="form-group">
        <label for="p1d">Project-1 Description</label>
        <input
          class="form-control mb-2 mt-3"  value="{{data.p1d}}"
          id="p1d"
          name="p1d"
          rows="4"
          placeholder="Enter Project-1 Description"
          
        ></input>
      </div>

      <div class="form-group">
        <label for="p1d">Project-1 Link</label>
        <input
          class="form-control mb-2 mt-3"  value="{{data.p1l}}"
          id="p1l"
          name="p1l"
          rows="4"
          placeholder="Enter Project-1 Link"
          
        ></input>
      </div>

      <div class="form-group">
        <label for="p2">Project-2 title</label>
        <input
          type="text"
          class="form-control mb-2 mt-3"  value="{{data.p2}}"
          id="p2"
          placeholder="Enter your project-2 title"
          name="p2"
          
        />
      </div>

      <div class="form-group">
        <label for="p2d">Project-2 Description</label>
        <input
          class="form-control mb-2 mt-3"  value="{{data.p2d}}"
          id="p2d"
          name="p2d"
          rows="4"
          placeholder="Enter Project-2 Description"
          
        ></input>
      </div>

      <div class="form-group">
        <label for="p2d">Project-2 Link</label>
        <input
          class="form-control mb-2 mt-3"  value="{{data.p2l}}"
          id="p2l"
          name="p2l"
          rows="4"
          placeholder="Enter Project-1 Link"
          
        ></input>
      </div>
      <br />
    </div>
    <div class="col-md-3">
      <h2>Internship Section</h2>
      <hr />
  

      <div class="form-group">
        <label for="i1">Internship-1 title</label>
        <input
          type="text"
          class="form-control mb-2 mt-3"  value="{{data.i1}}"
          id="i1"
          placeholder="Enter your Internship-1 title"
          name="i1"
          
        />
      </div>

      <div class="form-group">
        <label for="i1d">Internship-1 Description</label>
        <input
          class="form-control mb-2 mt-3"  value="{{data.i1d}}"
          id="i1d"
          name="i1d"
          rows="4"
          placeholder="Enter Internship-1 Description"
          
        ></input>
      </div>

      <div class="form-group">
        <label for="i2">Internship-2 title</label>
        <input
          type="text"
          class="form-control mb-2 mt-3"  value="{{data.i2}}"
          id="i2"
          placeholder="Enter your Internship-2 title"
          name="i2"
          
        />
      </div>

      <div class="form-group">
        <label for="i2d">Internship-2 Description</label>
        <input
          class="form-control mb-2 mt-3"  value="{{data.i2d}}"
          id="i2d"
          name="i2d"
          rows="4"
          placeholder="Enter Internship-2 Description"
          
        ></input>
      </div>

      <br />
    </div>
    <div class="col-md-3">
      <h2>Profile Links</h2>
      <hr />
  

      <div class="form-group">
        <label for="github">Github</label>
        <input
          type="text"
          class="form-control mb-2 mt-3"  value="{{data.github}}"
          id="github"
          placeholder="Paste Your Github link"
          name="github"
        />
      </div>

      <div class="form-group">
        <label for="linkedin">LinkedIn</label>
        <input
          class="form-control mb-2 mt-3"  value="{{data.linkedin}}"
          id="linkedin"
          name="linkedin"
          placeholder="Paste Your LinkedIn link"
          
        />
      </div>
      <div class="form-group">
        <label for="facebook">Facebook</label>
        <input
          class="form-control mb-2 mt-3"  value="{{data.facebook}}"
          id="facebook"
          name="facebook"
          placeholder="Paste Your Facebook link"
          
        />
      </div>
      <div class="form-group">
        <label for="instagram">Instagram</label>
        <input
          class="form-control mb-2 mt-3"  value="{{data.instagram}}"
          id="instagram"
          name="instagram"
          placeholder="Paste Your Instagram link"
          
        />
      </div>
      <div class="form-group">
        <label for="role">Designation</label>
        <input
          class="form-control mb-2 mt-3"  value="{{data.role}}"
          id="role"
          name="role"
          placeholder="Designation Role"
          
        />
      </div>
      <div class="form-group">
        <label for="summary"><span>*</span> Tell me about yourself</label>
        <input
          class="form-control mb-2 mt-3"  value="{{data.summary}}"
          id="summary"
          name="summary"
          rows="4"
         
          required
          />
        
      </div>
    

      <br />
    </div>

  </div>

  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-success">Update</button>
</div>   
</form>

<br>
<br>
<br>


</form>
  {% endblock body %}
  
  <!-- ======= Footer ======= -->

</div>

{% block Scripts %}


  {% endblock Scripts %}